<html>
<head>
	<title>337: Recipe Transformer</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
	<script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">EECS 337: Recipe Transformer</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>
	</nav>
	<div class="main-container">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>